[package]
name = "config"
version.workspace = true
edition.workspace = true

[dependencies]
input-capture = { path = "../input-capture" }
action-executor = { path = "../action-executor" }
binding-engine = { path = "../binding-engine" }
